
/app/app-release.apk
/local.properties
/app/build/*
/gradle
/app/app.iml
/gradle.properties
/gradlew.bat
/sample.iml
/sample/build/*
/.gradle
/.idea
**/.DS_Store
.okbuck/keystore
/library/build/tmp
/library/build/intermediates
/library/build/outputs
/library/build/generated
/library/build/docs
/library/library.iml
/library/gradle.properties
/build
**/*.iml
library/build/
/gradlew
projectFilesBackup/.idea/
